<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<div class="text-center m-4">
  <h1 class="mb-4 font-extrabold text-gray-900 md:text-5xl lg:text-6xl">Movies</h1>
</div>
<br>
<div class="grid grid-cols-4 gap-4" id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
</div>
